@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Nanum+Myeongjo&display=swap");

:root {
  --primary-color-blue: #004e98;
  --secondary-color-yellow: #ffde5c;
  --accent-color-light-blue: #eef2f8;
  --very-light-blue: #f6f8fb;
  --white: #fff;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kantumruy Pro", serif;
}

.logo {
  font-size: 24px;
  font-family: "Nanum Myeongjo", serif;
  color: var(--primary-color-blue);
}

a {
  text-decoration: none;
  color: var(--black);
  transition: 0.4s;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.profile img {
  width: 50px;
  height: 50px;
}

button{
  width: fit-content;
  padding: 10px 24px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.header-open{
  overflow: hidden;
}

.img {
  background-size: cover;
  background-position: center;
}

/* nav */
header {
  position: relative;
  border-bottom: var(--accent-color-light-blue) 1px solid;
  z-index: 100;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header .menu-icon {
  background-image: url(/static/images/icons8-menu-50.png);
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}

header .search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header nav {
  display: flex;
  gap: 16px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--black);
}

header nav li {
  padding: 4px 4px;
}

header .logs{
  background-color: var(--secondary-color-yellow);
  padding: 4px 16px;
  border-radius: 24px;
}

/* login */
.errorlist.nonfield {
  color: red;
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin: 8px 0;
  display: block;
}

.errorlist {
  display: none;
}

.login {
  padding: 100px 0;
}

.login .title {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 500;
  margin-bottom: 32px;
}

.login .login-form {
  padding: 48px 80px;
  background-color: var(--very-light-blue);
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.login .login-form h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 600;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login form div {
  display: flex;
  gap: 8px;
}

.login form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--black);
  font-size: 16px;
  padding-bottom: 4px;
  width: 100%;
}

.login form input:hover {
  outline: none;
  border-bottom: 2px solid var(--black);
}

.login form input:focus {
  outline: none;
  border-bottom: 2px solid var(--black);
}

.login form input::placeholder {
  color: var(--primary-color-blue);
}

.login form button {
  background-color: var(--primary-color-blue);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-top: 20px;
  border: transparent 1px solid;
}

.login form button:hover {
  background-color: var(--accent-color-light-blue);
  color: var(--black);
  border: var(--black) 1px solid;
}

.login .signup-link {
  text-align: center;
  margin-top: 24px;
}

.login .signup-link a {
  font-weight: 600;
  text-decoration: underline;
}

.login .signup-link a:hover {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 10;
  border-top: var(--accent-color-light-blue) 1px solid;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .login {
    padding: 80px 0;
  }
  
  .login .login-form {
    padding: 40px 60px;
  }

  .profile img {
    width: 40px;
    height: 40px;
  }

  header .menu-icon {
    display: block;
    transition: 0.5s;
  }

  header nav{
    display: none;
  }

  header span{
    display: none;
  }

  header.responsive {
    background-color: var(--secondary-color-yellow);
  }

  header.responsive nav {
    background-color: var(--secondary-color-yellow);
    display: block;
    width: 100%;
    position: absolute;
    top: 101%;
    left: 50%;
    transform: translate(-50%);
  }

  header.responsive nav ul {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    gap: 40px;
  }

  header.responsive nav ul li {
    transform: translateY(-90px);
  }

  header.responsive .logo h2 {
    color: var(--black);
  }

  header.responsive .menu-icon {
    background-image: url(/static/images/icons8-x-50.png);
  }
}

@media (max-width: 700px) {
  .logo {
    font-size: 20px;
  }

  .profile img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 500px) {

  .login {
    padding: 40px 0;
  }
  
  .logo {
    font-size: 18px;
  }

  .login .login-form {
    padding: 25px 40px;
  }

  .profile img {
    width: 30px;
    height: 30px;
  }

  footer {
    font-size: 12px;
  }
}
