@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Nanum+Myeongjo&display=swap");

:root {
  --primary-color-blue: #004e98;
  --secondary-color-yellow: #ffde5c;
  --accent-color-light-blue: #eef2f8;
  --very-light-blue: #f6f8fb;
  --white: #fff;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kantumruy Pro", serif;
}

.logo {
  font-size: 24px;
  font-family: "Nanum Myeongjo", serif;
  color: var(--primary-color-blue);
}

a {
  text-decoration: none;
  color: var(--black);
  transition: 0.4s;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.no-img{
  background-color: var(--accent-color-light-blue);
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  position: relative;
}

.no-img i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button{
  width: fit-content;
  padding: 10px 24px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--primary-color-blue);
  color: var(--white);
  border: transparent 1px solid;
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s;
}

button:hover {
  background-color: var(--accent-color-light-blue);
  color: var(--black);
  border: var(--black) 1px solid;
}

input::placeholder, 
textarea::placeholder {
  color: var(--primary-color-blue);
  font-family: "Kantumruy Pro", serif;
}

.header-open{
  overflow: hidden;
}

img {
  background-size: cover;
  background-position: center;
}

.title{
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 500;
  margin-bottom: 32px;
  text-transform: capitalize;
}

main{
  padding: 120px 0;
}

/* flash message */
.messages {
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.flash-message {
  background-color: var(--white);
  color: var(--primary-color-blue);
  border: 1px solid var(--primary-color-blue);
  padding: 16px;
  padding-right: 50px;
  border-radius: 32px;
  opacity: 0;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  animation: fadeInSlideDown 1s ease-out forwards;
}

.flash-message:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2)
}

.flash-message i{
  color: var(--black);
  font-size: 16px;
  position: absolute;
  top: 51%;
  right: 15px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.4s;
}

.flash-message i:hover{
  color: red;
  font-size: 18px;
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100%{
    opacity: 1;
  }
}

/* nav */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: var(--accent-color-light-blue) 1px solid;
  background-color: var(--white);
  z-index: 100;
}

header .container {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 20px;
  position: relative;
}

header .menu-icon {
  background-image: url(/static/images/icons8-menu-50.png);
  background-position: center;
  background-size: cover;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: none;
}

header nav {
  display: flex;
  gap: 16px;
}

header .holder ul{
  list-style: none;
}

header .holder{
  display: flex;
  gap: 20px;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--black);
}

header nav li {
  padding: 4px 4px;
}

header .logs{
  background-color: var(--secondary-color-yellow);
  padding: 8px 16px;
  border-radius: 24px;
  display: flex;
  gap: 10px;
}

header .profile{
  display: flex;
  gap: 15px;
  align-items: center;
}

header .profile .create-post a{
  background-color: var(--secondary-color-yellow);
  padding: 8px 16px;
  border-radius: 24px;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.4s;
}

header .profile .create-post a:hover{
  opacity: 0.6;
}

/* header search bar */
header .search-form{
  position: relative;
  width: 60%;
}

header .search-form input{
  background-color: var(--accent-color-light-blue);
  padding: 16px 24px;
  border: none;
  color: var(--primary-color-blue);
  padding-left: 40px;
  border-radius: 24px;
  width: 100%;
  outline: 1px solid var(--black);
}

header .search-form i{
  position: absolute;
  font-size: 16px;
  top: 48%;
  left: 23px;
  transform: translate(-50%, -50%); 
}

header .search-form .sort{
  background-color: var(--primary-color-blue);
  padding: 10px;
  border-radius: 24px;
  border: 1px solid transparent;
  color: var(--white);
  cursor: pointer;
  width: fit-content;
  position: absolute;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  top: 50%;
  right: -48px;
  transform: translate(-50%, -50%); 
  text-align: center;
  transition: 0.4s;
}

header .search-form .sort:hover{
  background-color: var(--accent-color-light-blue);
  color: var(--black);
  border: 1px solid var(--black);
}

/* login and signup */
.errorlist.nonfield {
  color: red;
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin: 8px 0;
  display: block;
}

.errorlist {
  display: none;
}

.login, .signup {
  padding: 72px 0;
}

.login .login-form,
.signup .signup-form {
  padding: 48px 80px;
  background-color: var(--very-light-blue);
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.login .login-form h2,
.signup .signup-form h2{
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 600;
}

.login form, 
.signup form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login form div,
.signup form div{
  display: flex;
  gap: 8px;
}

.login form div label,
.signup form div label{
  width: 50%;
}

.login form input,
.signup form input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--black);
  font-size: 16px;
  padding-bottom: 4px;
  width: 100%;
}

.login form input:hover, 
.signup form input:hover{
  outline: none;
  border-bottom: 2px solid var(--black);
}

.login form input:focus,
.signup form input:focus {
  outline: none;
  border-bottom: 2px solid var(--black);
}

.login form button, 
.signup form button {
  margin-top: 20px;
}

.login .login-link, 
.signup .signup-link {
  text-align: center;
  margin-top: 24px;
}

.login .login-link a, 
.signup .signup-link a {
  font-weight: 600;
  text-decoration: underline;
}

.login .login-link a:hover, 
.signup .signup-link a:hover {
  text-decoration: none;
}

.signup .helptext{
  display: none;
}

/* Home */
.home .posts{
  margin-bottom: 20px;
}

.home .post-container{
  margin-bottom: 20px;
}

.home .posts hr{
  background-color: var(--accent-color-light-blue);
  outline: none;
  border: none;
  height: 1px;
  margin: 16px 0;
}

.home .flex{
  display: flex;
  gap: 30px;
}

.home .post-container{
  gap: 0;
}

.home .left {
  width: 7%;
}

.home .right{
  width: 93%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home .post-head{
  justify-content: space-between;
  align-items: center;
}

.home .post-title{
  font-weight: 500;
}

.home .tags{
  gap: 10px;
}

.home .tags a{
  color: var(--primary-color-blue);
  text-decoration: underline;
}

.home .media{
 width: 100%;
}

.home .media img,
.home .media video{
 width: 100%;
 border-radius: 24px;
}

.home .post-url{
  width: fit-content;
}

.home .likes-count{
  position: absolute;
  top: 50px;
  left: -5px;
}

/* interaction partials */
.interaction.flex{
  align-items: center;
  gap: 16px;
  position: relative;
}

.interaction button{
  background-color: transparent;
  color: var(--primary-color-blue);
  width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50%;
  font-weight: 500;
  transition: 0.4s;
}

.interaction button:hover{
  background-color: var(--accent-color-light-blue);
  font-weight: 600;
  color: red;
}

.interaction i{
  color: var(--primary-color-blue);
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interaction details summary {
  list-style: none;
  cursor: pointer;
  transition: 0.4s;
  width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50%;
  border: transparent 1px solid;
}

.interaction details summary:hover {
  background-color: var(--accent-color-light-blue);
  color: var(--black);
  border: var(--black) 1px solid;
}

.interaction details {
  position: relative;
}

.interaction details form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--primary-color-blue);
  border-radius: 24px;
  background-color: var(--accent-color-light-blue);
  padding: 16px;
  width: 170px;
  position: absolute;
  top: 110%;
  right: 0px;
  z-index: 200; 
}

.interaction details form button {
 text-align: center;
 width: fit-content;
 align-items: center;
 border: none;
}

.home .comments-link{
  font-size: 16px;
  padding: 16px 0;
}

/* Create Post */
.create-post form p{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

/* tags */
.create-post .tags{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.create-post .tags input[type="checkbox"] {
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;  
  border: 1px solid var(--primary-color-blue); 
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: var(--accent-color-light-blue); 
  transition: all 0.3s ease;
}

.create-post .tags input[type="checkbox"]:checked {
  background-color: var(--primary-color-blue);
}

.create-post .tags input[type="checkbox"]:checked::before {
  content: '\2714'; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 12px;
}

.create-post .tags input[type="checkbox"]:hover {
  border-color: var(--primary-color-blue); 
}

.create-post .tags input[type="checkbox"]:focus {
  outline: none; 
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.create-post .tags label {
  cursor: pointer;
  user-select: none;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.create-post input,
.create-post textarea{
  background-color: var(--very-light-blue);
  border-radius: 24px;
  border: none;
  padding: 16px;
}

.create-post textarea{
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
}

.create-post button{
  display: block;
  margin: 20px auto;
}

.create-post #id_media {
  display: none;
}

.create-post .media-label {
  display: inline-block;
  padding: 20px;
  background-color: var(--accent-color-light-blue);
  color: var(--primary-color-blue);
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  transition: 0.4s;
}

.create-post .media-label:hover {
  background-color: var(--very-light-blue);
}

/* search result  */
.search-results {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.post {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.post-date {
  font-size: 12px;
  /* color: gray; */
}

.post-content {
  margin: 10px 0;
}

.post-tags {
  margin: 10px 0;
}

.tag {
  /* background-color: #e0e0e0; */
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.post-interactions {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.post-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 10;
  border-top: var(--accent-color-light-blue) 1px solid;
  background-color: var(--white);
}

/* Responsive Styles */
@media (max-width: 900px) {
  .login {
    padding: 80px 0;
  }
  
  .login .login-form {
    padding: 40px 60px;
  }

  .profile img {
    width: 40px;
    height: 40px;
  }

  header .menu-icon {
    display: block;
    transition: 0.5s;
  }

  header nav{
    display: none;
  }

  header.responsive {
    background-color: var(--secondary-color-yellow);
  }

  header.responsive nav {
    background-color: var(--secondary-color-yellow);
    display: block;
    width: 115%;
    position: absolute;
    top: 101%;
    left: 50%;
    transform: translate(-50%);
  }

  header.responsive nav ul {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    gap: 40px;
  }

  header.responsive .logo h2 {
    color: var(--black);
  }

  header.responsive .menu-icon {
    background-image: url(/static/images/icons8-x-50.png);
  }
}

@media (max-width: 700px) {
  .logo {
    font-size: 20px;
  }

  .profile img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 500px) {

  .login {
    padding: 40px 0;
  }
  
  .logo {
    font-size: 18px;
  }

  .login .login-form {
    padding: 25px 40px;
  }

  .profile img {
    width: 30px;
    height: 30px;
  }

  footer {
    font-size: 12px;
  }
}