<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="{% url 'posts:home' %}">
                <h2>inSync</h2>
            </a>
            {% if request.path != '/account/login/' and request.path != '/account/signup/' %}
            {% include "components/main_search.html" %}
            {% endif %}
            <nav>
                {% if request.user.is_authenticated %}
                <ul class="profile">
                    {% if user.profile.profile_image %}
                    <li><img src="" alt="Profile Image">Img</li>
                    {% endif %}
                    <li><a href="#">Profile</a></li>
                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                </ul>
                {% else %}
                <ul class="logs">
                    <li><a href="{% url 'account:signup' %}">Signup</a></li>
                    <li><a href="{% url 'account:login' %}">Login</a></li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>{% block 'main' %}{% endblock %}</main>

    <footer>
        inSync 2025. All rights reserved
    </footer>
</body>

</html>
