<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}{% endblock %}</title>
    {% load static %}
    <script type="module" src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <div class="menu-icon img"></div>
           
            <a class="logo" href="{% url 'posts:home' %}">
                <h2>inSync</h2>
            </a>
            {% if request.path != '/account/login/' and request.path != '/account/signup/' %}
            {% include "components/main_search.html" %}
            {% endif %}
            <nav>
                <ul class="nav-links">

                    {% if request.user.is_authenticated %}
                    <ul class="profile">
                        {% if user.profile.profile_image %}
                        <li><img src="" alt="Profile Image">Img</li>
                        {% endif %}
                        <li><a href="{% url 'account:profile_overview'%}">Profile</a></li>
                    </ul>
                    {% else %}
                    <ul class="home-icon"> 
                        <li><a   href="{% url 'posts:home' %}">Home</a></li>
                    </ul>
                    <ul class="logs">
                        <li><a href="{% url 'account:signup' %}">Signup</a></li>
                        <span>/</span>
                        <li><a href="{% url 'account:login' %}">Login</a></li>
                    </ul>
                    {% endif %}
                </ul>

            </nav>
        </div>
    </header>

    <main>{% block 'main' %}{% endblock %}</main>

    <footer>
        inSync 2025. All rights reserved
    </footer>
</body>

</html>
