<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}{% endblock %}</title>
    {% load static %}
    <script type="module" src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="{% url 'posts:home' %}">
                <h2>inSync</h2>
            </a>
            {% if request.path != '/account/login/' and request.path != '/account/signup/' %}
            {% include "components/main_search.html" %}
            {% endif %}
            <div class="holder">
                <div class="menu-icon img"></div>
                <nav>
                    <ul class="home-icon"> 
                        <li><a href="{% url 'posts:home' %}">Home</a></li>
                    </ul>
                </nav>
                {% if request.user.is_authenticated %}
                <ul class="profile">
                    <li class="create-post">
                        <a href="{% url 'posts:create_post' %}">Create Post
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </li>
                    <li><a href="{% url 'account:profile_overview'%}">{% include "components/profile_img.html" %}</a></li>
                </ul>
                {% else %}   
                <ul class="logs">
                    <li><a href="{% url 'account:signup' %}">Signup</a></li>
                    <span>/</span>
                    <li><a href="{% url 'account:login' %}">Login</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </header>

    <main>{% block 'main' %}{% endblock %}</main>

    <footer>
        inSync 2025. All rights reserved
    </footer>
</body>

</html>
