{% extends 'base.html' %}
{% block 'title' %} Sign up {% endblock %}
{% block 'main' %}
<section class="signup">
    <div class="container">
        <h3 class="title">sign up to stay connected and collaborate with your team</h3>
        <div class="login-form">
            <h2>Signup</h2>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Signup</button>
            </form>
        </div>
        <p class="signup-link">New to inSync? Sign up <a href="{% url 'account:signup' %}">here.</a></p>
    </div>
</section>
<p>Already have an account? <a href="{% url 'account:login' %}">Login here</a>.</p>
{% endblock %}
