{% extends 'base.html' %} 
{% block 'title' %} Update Profile: {{ user.username }} {% endblock %} 
{% block 'main' %}
{% include "acc_partials/profile_overview.html" %}
<section class="update-profile">
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}

      <div class="media-input-container">
        <div class="wrapper">
            <label class="media-label" for="id_media">
            <i class="fa-solid fa-cloud-arrow-up"></i>
            </label>
           
            {{ profile_img.profile_image }}
            
            <div class="media-preview">{% include "acc_partials/profile_image.html" %}</div>
          
            <button id="clear-media" class="clear-media-btn">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>


      <button type="submit">Update</button>
    </form>
    <a href="{% url 'posts:home' %}">Cancel</a>
  </div>
</section>
{% endblock %}