{% extends 'base.html' %} 
{% block 'title' %} Liked Posts {% endblock %} 
{% block 'main' %}
{% include "acc_partials/profile_overview.html" %}
<section class="overview-posts">
    <div class="container">
        <h2>Liked Posts ({{ total_liked_posts }})</h2>
        <form method="GET" action="{% url 'posts:liked_posts' %}">
            {% csrf_token %} {% include "partials/sort.html" %}
        </form>
        {% for post in posts %}
        <div class="posts">
            {% include "partials/post.html" %}
            <hr>
        </div>
        {% empty %}
        <p>You have not Liked any posts yet.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
